<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangqin.demo.sys.mapper.DictTypeMapper">

	<resultMap type="com.zhangqin.demo.sys.entity.DictType" id="resultMap">
		<result column="id" property="id" />
		<result column="tenant_id" property="tenantId" />
		<result column="parent_id" property="parentId" />
		<result column="type_code" property="typeCode" />
		<result column="sort" property="sort" />
		<result column="remark" property="remark" />
		<result column="is_system" property="system" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
		<result column="is_deleted" property="deleted" />
	</resultMap>

	<select id="listByQo" parameterType="com.zhangqin.demo.sys.qo.DictTypeQO" resultMap="resultMap">
		SELECT
			id,
			tenant_id,
			parent_id,
			type_code,
			type_name,
			sort,
			remark,
			is_system,
			create_user_id,
			create_time,
			update_user_id,
			update_time,
			is_deleted
		FROM
			sys_dict_type
		WHERE
			is_deleted = 0
			<!-- 关键字 -->
			<if test="null != keyword">
				AND (type_code LIKE CONCAT(#{keyword},'%') OR type_name LIKE CONCAT(#{keyword},'%'))
			</if>
			<!-- 高级查询 -->
			<include refid="SQL_NBS_RULES_FOREACH" />
	</select>
	
	
	<!-- 查询规则 -->
	<sql id="SQL_NBS_RULES_FOREACH">
		<if test="null != nbsRules and nbsRules.size() > 0">
			<foreach collection="nbsRules" item="rule">
				<choose>
					<!-- 等于 -->
					<when test="rule.operator.value == 'EQ' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> = #{${rule.property}}
					</when>
					<!-- 不等于 -->
					<when test="rule.operator.value == 'NE' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> != #{${rule.property}}
					</when>
					<!-- 大于 -->
					<when test="rule.operator.value == 'GT' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> &gt; #{${rule.property}}
					</when>
					<!-- 大于或等于 -->
					<when test="rule.operator.value == 'GE' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> &gt;= #{${rule.property}}
					</when>
					<!-- 小于 -->
					<when test="rule.operator.value == 'LT' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> &lt; #{${rule.property}}
					</when>
					<!-- 小于或等于 -->
					<when test="rule.operator.value == 'LE' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> &lt;= #{${rule.property}}
					</when>
					<!-- 包含 -->
					<when test="rule.operator.value == 'LK' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> LIKE CONCAT('%',#{${rule.property}},'%')
					</when>
					<!-- 左包含 -->
					<when test="rule.operator.value == 'LL' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> LIKE CONCAT('%',#{${rule.property}})
					</when>
					<!-- 右包含 -->
					<when test="rule.operator.value == 'LR' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> LIKE CONCAT(#{${rule.property}},'%')
					</when>
					<!-- 不包含 -->
					<when test="rule.operator.value == 'NL' and null != rule.property">
						AND <include refid="SQL_NBS_RULE_COLUMN" /> NOT LIKE CONCAT('%',#{${rule.property}},'%')
					</when>
				</choose>
			</foreach>
		</if>
	</sql>
	
	<!-- 获取高级查询列名 -->
	<sql id="SQL_NBS_RULE_COLUMN">
		<choose>
			<when test="null != rule.tableAlias and '' != rule.tableAlias">
				${rule.tableAlias}.${rule.column}
			</when>
			<otherwise>
				${rule.column}
			</otherwise>
		</choose>
	</sql>
	
</mapper>
